body {
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: #e9c2c2; }

/*.icon-bar
    width: 100%
    background-color: #726c6c
    display: flex
    justify-content: space-between
    padding-left: 50px*/
/*.icon-bar__item
    width: 16.5%
    padding: 12px 0
    text-align: center
    transition: all .5 ease
    color: #fff*/
.icon-bar__item:hover {
  background-color: #e9c2c2;
  color: #00721c; }

.icon-bar--active {
  background-color: #00721c; }

.icon-bar {
  width: 20%;
  display: flex;
  flex-direction: column;
  background-color: #726c6c; }

.icon-bar__item {
  width: 100%;
  padding: 12px 0;
  text-align: center;
  transition: all 1s ease;
  color: #fff; }
